@charset "UTF-8";

.btn{
    display: inline-block;
    background-color: #f25a70;
    padding: 18px 20px; 
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.btn:hover{
    transform: scale(1.08);
    cursor: pointer;
    background-color: #CF4C60;
}
